@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/driveFunctions.js"></script>

<body>
    <span id="navigation"></span><br /><br /><br /><br />
    <input type="hidden" id="userId" value="@Session["userId"]" />
    <input type="hidden" id="parentFolderId" value="0" />
    <div class="ajaxProgress">
        <h4>Please Wait...</h4>
        <img src="~/images/ajax-loader.gif" alt="loading" />
    </div>
    <div id="foldersDiv"></div>
    <div id="filesDiv"></div>
    
</body>

